<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/my"
        android:label="独一无二"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.bujuzuoye.myapp">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="U9UzREpvfoMtxGA9dOOEPAO6A70lcoL8" />

        <activity android:name="com.bujuzuoye.zuoyeji">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.bujuzuoye.kaijihuoqu"></service>
        <activity android:name="com.zrgj.tanqiu.Tanqiu" ></activity>
        <activity android:name=".bianbaixin"></activity>
        <activity android:name="com.com.zrgj.feiji.huafeiji"></activity>
        <activity android:name="com.wucaimihong.mihong"></activity>
        <activity android:name="com.tupianxunhua.huatu" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.huatouxiang" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.duanxinyanzheng" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.jisuanqi"></activity>
        <activity android:name="com.bujuzuoye.qq" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.tongxunlu" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.tupianshang.tupianjubuxianshi" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.duoxunaanniu" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.caipin.chakancaipin" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.caipin.shoujiguishudi" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.caipin.caipu"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.zidongsousuo" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.xialacaidan"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.jindutiao" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.sousuodanci" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.caipin.xiangxicaipin"></activity>
        <activity android:name="com.bujuzuoye.tishikuang"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.w.lianxi" android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.shoujifenbianlv" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.xuanxiangka"></activity>
        <activity android:name="com.bujuzuoye.guojihua" android:theme="@style/AppTheme.NoActionBar" android:configChanges="locale"></activity>
        <activity android:name="com.bujuzuoye.hengshuping"  android:theme="@style/AppTheme.NoActionBar" android:configChanges="orientation|locale|screenSize"></activity>
        <activity android:name="com.com.zrgj.feiji.xitongshizhe"></activity>
        <activity android:name="com.bujuzuoye.cai"></activity>
        <activity android:name="com.bujuzuoye.caiActivitycaiDetail"></activity>
        <activity android:name="com.bujuzuoye.chengshileibiao"  android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.bujuzuoye.chengshileibiao2"></activity>
        <activity android:name="com.bujuzuoye.dadianhua"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".huaban"></activity>
        <activity android:name="com.bujuzuoye.donghua"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.wenjianxiazai" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.xueshengshuju" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.caipingengxin"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.wenjianliulanqi"></activity>
        <activity android:name="com.bujuzuoye.yuyinlangdu"></activity>
        <activity android:name="com.bujuzuoye.shujugongsiang_content"></activity>
        <activity android:name="com.bujuzuoye.caipinzengjia"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.jiantingdianhua"></activity>
        <activity android:name="com.bujuzuoye.duanxinqunfa"></activity>
        <activity android:name="com.bujuzuoye.naozhong"></activity>
        <activity android:name="com.bujuzuoye.naozhong_kaishi"></activity>
        <receiver android:name="com.bujuzuoye.duanxintixing">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.bujuzuoye.kaiji">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.bujuzuoye.shipin"></activity>
        <activity android:name="com.bujuzuoye.zhendong"></activity>
        <activity android:name="com.bujuzuoye.fangshengyin"></activity>
        <activity android:name="com.bujuzuoye.bofangshipin"></activity>
        <activity android:name="com.bujuzuoye.gupiaochaxun"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.studentshangchuang"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.chuanganqi"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.yaoyiyao"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.fengshui"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.shoushigaibian"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.gpsweizhi"   android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.bujuzuoye.baiduditu" ></activity>
    </application>

</manifest>